body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.closebtn {
    opacity: 0;
}

.logo {
    width: 70px;
    height: 70px;
}

.nav-style {
    background-color: #ffde33 !important;
    padding: 25px 0;
    border: 0 !important;
    margin-bottom: 0 !important;
    box-shadow: 0 4px 8px 0 #33333311, 0 6px 20px 0 #33333315;
}

.nav-link {
    padding: 30px 25px !important;
}

.nav-logo {
    padding: 20px 0 0 150px !important;
}

.nav-link a {
    font-size: 1.3em !important;
    color: black !important;
    font-weight: 600 !important;
}

.nav-link a:hover {
    color: rgba(0, 0, 0, 0.651) !important;
}

.nav-btn {
    background-color: #ff0000;
    text-decoration: none;
    padding: 10px 30px !important;
    margin-top: 20px;
    color: white;
    font-size: 1.3em !important;
    font-weight: 600 !important;
}

.bg-image {
    background-image: url(../images/img/StockSnap_KRNNVQJ6NK.jpg);
    background-size: 100% 50vh;
    height: 50vh;
}

.bg-title h1 {
    color: white;
    font-size: 6.0em;
    padding-top: 20vh;
}

.category_btn {
    padding: 30px 0 30px 20px !important;
    width: 100% !important;
    font-size: 1.7em !important;
    font-weight: 600 !important;
    text-align: left !important;
    color: white;
    background-color: #333333;
}

.category_item {
    padding: unset !important;
    background-color: #333333;
    border-right: 1px solid #5f5d5d;
    cursor: pointer;
}

.check {
    opacity: 0;
}

.category_btn:hover {
    color: rgba(218, 214, 214, 0.644) !important;
}

.fa-check-circle {
    color: #333333 !important;
    position: absolute !important;
    font-size: 2.6em !important;
    right: 50px !important;
    top: 30px !important;
}

.cat-title {
    font-size: 4.0em;
    padding: 40px 0;
}

.project_card {
    background-color: white;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    height: 60vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project_card:hover {
    transform: scale(1.1);
}

.img-card {
    width: 100%;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cat-card {
    background-color: #ffde33;
    width: max-content;
    margin: 15px 15px;
    padding: 5px 10px;
    font-size: 1.1em !important;
    font-weight: 500;
}

.project_card h3 {
    margin: 0 15px;
    font-size: 1.6em;
}

.project_card p {
    margin: 15px 15px;
    font-size: 1.2em;
}

.date {
    font-size: 0.9em !important;
    font-weight: 700;
}

.btn-load {
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
    color: #ffffff !important;
    border-radius: 10px;
    font-weight: 600 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
}

.yellow {
    background-color: #ffde33;
    padding-bottom: 15vh;
}

.btn-red {
    background-color: #ff0000;
    text-decoration: none;
    padding: 10px 30px !important;
    margin-top: 20px;
    color: white;
    font-size: 1.1em !important;
    font-weight: 500 !important;
}

.btn-red:hover, .nav-btn:hover {
    background-color: #e42208d5;
    color: white !important;
    text-decoration: none;
    font-weight: 500;
}

.footer {
    background-color: #333333;
    padding: 20px 0;
    color: white;
}

.footer p {
    font-size: 1.3em;
    font-weight: 500;
}

.glyphicon-heart {
    color: red !important;
}

.bg-image_2 {
    height: 50vh;
}

.bg-title_2 h1 {
    color: #333333;
    font-size: 6.6em;
    padding-top: 20vh;
}

label {
    font-size: 1.4em;
}

.form-control {
    font-style: italic !important;
    font-size: 1.3em !important;
    padding: 40px 0 !important;
    text-indent: 20px !important;
    border-radius: 10px !important;
}

.padding-60 {
    padding: 60px 0;
}

.glyphicon-chevron-down {
    position: absolute !important;
    right: 35px;
    top: unset !important;
}

.send {
    background-color: #ff0000 !important;
    color: white !important;
    font-size: 1.3em !important;
    font-weight: 600 !important;
    padding: 25px 0 !important;
    border-radius: 10px !important;
    margin-top: 33px;
}

.custom-select {
    background-color: white;
    padding: 25px 0 !important;
    border-radius: 10px !important;
    width: 100%;
    border: 1px solid #cccccc;
    font-size: 1.3em !important;
    font-weight: 600 !important;
    cursor: pointer;
}

.options {
    background: white;
    position: absolute;
    z-index: 1;
    width: 95%;
    border: 1px solid #cccccc;
    top: 120px;
    border-radius: 10px;
    box-shadow: 3px 7px 10px #0000007a;
    margin: 5px 0;
    display: none;
}

.selected-value {
    padding: 0 20px;
}

.options.open {
    display: block;
}

.option {
    margin-bottom: 8px;
    padding: 5px 20px;
    border-bottom: 1px solid #b3bec5;
    color: #333333;
}

.options div:last-of-type {
    border-bottom: unset;
}

.option:hover {
    color: #1d1a1acc;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .navbar-toggle .icon-bar {
        width: unset !important;
        height: 3px !important;
        border-radius: 20px;
        background-color: #333333 !important;
        float: right;
    }

    .navbar-default .navbar-toggle {
        border-color: transparent !important;
        width: 25px !important;
    }

    .navbar-toggle .bar-1 {
        width: 24px !important;
    }

    .navbar-toggle .bar-2 {
        width: 18px !important;
    }

    .navbar-toggle .bar-3 {
        width: 12px !important;
    }

    .nav-link a {
        font-size: 0.8em !important;
        font-weight: 500 !important;
    }

    .nav-style {
        padding: 0;
    }

    .logo {
        width: 40px;
        height: 40px;
    }

    .nav-logo {
        padding: 5px 10px !important;
    }

    .nav-link {
        padding: 20px 15px !important;
    }

    .nav-btn {
        padding: 10px 20px !important;
        margin-top: 10px;
        font-size: 0.8em !important;
        font-weight: 500 !important;
        margin-left: 15px;
    }

    .bg-image {
        background-size: 100% 30vh;
        height: 30vh;
    }

    .bg-image_2 {
        height: 30vh;
    }

    .bg-title h1 {
        margin-top: -50px;
        font-size:2.8em;
    }

    .bg-title_2 h1 {
        font-size:2.6em;
        padding: 10vh 0;
    }

    .category_btn {
        padding: 5px 5px !important;
        font-size: 1.1em !important;
        font-weight: 500 !important;
    }

    .fa-check-circle {
        font-size: 1.8em !important;
        top: 10px !important;
    }

    .cat-title {
        font-size: 2.6em;
        padding: 20px 0;
    }

    .project_card {
        padding-bottom: 10px;
        height: max-content;
    }

    .category_item {
        border-bottom: 1px solid #5f5d5d;
        border-right: unset;
    }

    .padding-60 {
        padding: 0;
    }

    label {
        font-size: 1.1em;
    }

    .form-control {
        font-size: 0.9em !important;
        padding: 25px 0 !important;
        text-indent: 10px !important;
    }

    .custom-select {
        font-size: 1em !important;
        font-weight: 500 !important;
        padding: 15px 0 !important;
    }

    .options {
        top: 80px;
        width: 90%;
    }

    .selected-value {
        padding: 0 10px;
    }

    .send {
        font-size: 1.1em !important;
        font-weight: 500 !important;
        padding: 15px 0 !important;
        margin-top: 33px;
    }

    .footer p {
        font-size: 0.9em;
        font-weight: 500;
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #333333;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: left;
    }

    .overlay ul li a {
        color: #cac5c5 !important;
        font-size: 1.2em !important;
    }

    .overlay a {
        text-decoration: none;
        color: #cac5c5;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover, .overlay a:focus, .overlay ul li a {
        color: #ffffff !important;
    }

    .overlay .closebtn {
        position: absolute;
        opacity: 10;
        right: 15px;
        font-size: 50px;
    }

}